<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPMON Annotate</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/common.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
    <div class="header"><div class="header-inner">
        <div class="header-section left">
            <div class="logo">
                <img class= "logo-img" src="assets/bpmon.png" alt="icingamock">
                <span>&nbsp; ANNOTATE</span>
            </div>
        </div>
        <div class="header-section right">
            <div contenteditable="true" class="input input-header" id="quick_annotation" data-placeholder="Quick Annotation.."></div>
        </div>
    </div></div>

    <div id="data">
        <div class="loading" id="loading"><div class="spinner"></div></div>
    </div>
</div>

<script type="text/html" id="event_tmpl">
    <div class="panel" id="<%=id%>">
		<div class="panel-content">
        	<div class="info event-section left">
            	<div class="timestamp">
                	<%=timestamp%>
            	</div>
        	</div>
        	<div class="tags event-section left">
            	<% for (var tag in t) { %>
	            <div class="tag">
    	            <%=tag%><b> <%=t[tag]%></b>
        	    </div>
            	<% } %>
	        </div>
    	    <div class="event-section buttons right">
        	    <span onclick="quickAnnotate(&#39;<%=id%>&#39;)" class="button quick">Quick Annotate</span>
            	<span onclick="showEditor(&#39;<%=id%>&#39;)" class="button">Annotate</span>
	        </div>
    	    <div class="annotation-editor" id="<%=id%>_annotation_editor" style="display: none;">
        	    <div class="annotation-editor-top">
            	    <div contenteditable="true" class="annotation-input regular" id="<%=id%>_annotation" data-placeholder="Provide annotation text here..."></div>
            	</div>
            	<div class="annotation-editor-bottom">
                	<span onclick="hideEditor(&#39;<%=id%>&#39;)" class="button quick">Cancel</span>
                	<span onclick="annotate(&#39;<%=id%>&#39;)" class="button">Send</span>
            	</div>
        	</div>
    	</div>
	</div>
</script>

<script src="assets/jquery-3.2.1.min.js"></script>
<script src="assets/fontawesome-all.js"></script>
<script src="assets/templating.js"></script>
<script src="assets/common.js"></script>
<script src="main.js"></script>
<script>init();</script>

</body>
</html>

