/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Now the relevant css */

html, body, .container, .header, .events {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1abc9c;
}

.header {
    height: 100px;
    background-color: #afd1ca;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.3);
    z-index: 10;
}

.header-inner {
    width: 800px;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.logo {
    display: inline-block;
    position: relative;
}

.logo-img {
    height: 55px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 6px 8px;
    border-radius: 25px;
    background-color: #a3102d;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
}

.loading {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------------------------------------------------ */
/* http://tobiasahlin.com/spinkit/                  */
/* ------------------------------------------------ */

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

#data {
    padding-top: 110px;
}

.panel {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
}

.element {
    background-color: #FFFFFF;
}

.notification {
    background-color: #e8d988;
}

.button {
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
    background-color: #afd1ca;
    border-radius: 6px;
    padding: 10px 12px;
    margin-left: 10px;
    color: black;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    user-select: none;
}

.button::after {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    content: "";
    border-radius: 5px;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0;
}

.button:hover::after {
    opacity: 1;
}

.button:hover {
    -webkit-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
}

/* special */

.hostname {
    font-weight: 700;
    font-size: 110%;
    width: 30%;
    padding-bottom: 10px;
}

.service {
    overflow: hidden;
    padding: 5px 0;
}

.services {
    width: 100%;
}

.property {
    float: left;
}

.service > .servicename {
    padding: 10px 0px;
    float: left;
}


.service > .flags {
    float: right;
    padding-right: 5px;
}

.state, .acknowledgement, .downtime {
    width: 80px;
}

.false, .ok {
    background-color: #7dcc76;
}

.warn {
    background-color: #f2de71;
}

.true, .critical {
    background-color: #ef8775;
}

.unknown {
    background-color: #e3b5f2;
}
