
.chart {
    width: 100%;
    height: 40px;
    clear: both;
    background-color: #eee;
}

.details {
    display: none;
}

.buttons {
    margin-top: 20px;
}

.kpis .availability .chart {
    height: 10px;
}

.chart .frame {
    height: 100%;
    float: left;
}

.chart .ok {
    background-color: #7dcc76;
}

.chart .ok:hover {
    background-color: #54a94c;
}

.chart .nok {
    background-color: #ef8775;
}

.chart .nok:hover {
    background-color: #d0543e;
}

.chart .unknown {
    background-color: #e3b5f2;
}

.chart .unknown:hover {
    background-color: #ad70c2;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
}

th {
    font-weight: bold;
    text-align: left;
}

thead {
    background-color: #1abc9c;
}

tbody tr:nth-child(odd) {
    background-color: #afd1ca;
}
tbody tr:nth-child(even) {
    background-color: #d2e5e1;
}
