
.chart {
    width: 100%;
    height: 40px;
    clear: both;
    background-color: #eee;
}

.details {
    display: none;
}

.buttons {
    margin-top: 20px;
}

.kpis .availability .chart {
    height: 10px;
}

.chart .frame {
    height: 100%;
    float: left;
}

.chart .ok {
    background-color: #7dcc76;
}

.chart .ok:hover {
    background-color: #54a94c;
}

.chart .nok {
    background-color: #ef8775;
}

.chart .nok:hover {
    background-color: #d0543e;
}

.chart .unknown {
    background-color: #e3b5f2;
}

.chart .unknown:hover {
    background-color: #ad70c2;
}

