:root {
    --main-color-bright: #afd1ca;
    --main-color-brighter: #bdd8d4;
    --main-color-dark: #1abc9c;
    --notify-color: #e8d988;
    --ok-color-bright: #7dcc76;
    --ok-color-dark: #54a94c;
    --nok-color-bright: #ef8775;
    --nok-color-dark: #d0543e;
    --unknown-color-bright: #e3b5f2;
    --unknown-color-dark: #ad70c2;
}
