:root {
    --content-width: 80%;
    --content-min-width: 600px;
}

html, body, .container, .header, .events {
    width: 100%;
}

body {
    background-color: var(--main-color-dark);
}

.header {
    height: 100px;
    background-color: var(--main-color-bright);
    position: fixed;
    top: 0;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.3);
    z-index: 10;
}

.header-inner {
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: var(--content-width);
    min-width: var(--content-min-width);
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.logo {
    display: inline-block;
    position: relative;
}

.logo-img {
    height: 55px;
}

#data {
    width: var(--content-width);
    min-width: var(--content-min-width);
    margin: 0 auto;
    margin-top: 130px;
    column-gap: 30px;
}

@media only screen and (min-width: 1500px) {
    #data {
        column-count: 2;
    }
}

@media only screen and (min-width: 2200px) {
    #data {
        column-count: 3;
    }
}


.loading {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
