table {
    width: 100%;
}

th, td {
    padding: 8px;
}

th {
    font-weight: bold;
    text-align: left;
}

thead {
    border-bottom: var(--main-color-bright) 2px solid;
}

tbody tr {
    border-bottom: var(--main-color-bright) 1px solid;
}
